<div class="p-3">
  <div class="card">

    <div class="card-body">
      {{keyword}}
      <input type="text" [(ngModel)]="keyword"/>
      <button class="btn btn-outline-success" >
        Search<i class="bi bi-search"></i>
       </button>
    </div>

    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Checked</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!--tr *ngFor="let product of products$|async" REPLACE AS FOLLOW: -->
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.checked}}</td>
            <td>
              <button class="btn btn-outline-success" (click)="handleCheckProduct(product)">
                <i [ngClass]="product.checked?'bi bi-check':'bi bi-circle'" ></i>
              </button>
            </td>

            <td>
              <button class="btn btn-outline-danger" (click)="handleDeleteProduct(product)">
                <i class=" bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
